<%= link_to 'Cadastrar novo fornecedor', new_supplier_path%>

<% if @suppliers.any?%>
    <% @suppliers.each do |s| %>
    <%= link_to s.brand_name, supplier_path(s.id)%>

    <dl>
        <dt>
            Nome Fantasia: 
        </dt>
        <dd>
            <%= s.corporate_name%>
        </dd>
        <dt>
            Documento: 
        </dt>
        <dd>
            <%= s.restration_number%>
        </dd>
        <dt>
            Endereço:
        </dt>
        <dd>
            <%= s.full_address%> - <%= s.city%> - <%= s.state%>
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            <%= s.email%>
        </dd>
    </dl>
<%end%>
<% else%>
    <p>Não existem fornecedores cadastrados.</p>
<%end%>